- name: check installed
  shell: >
    test -f {{elasticsearch_root}}/v{{elasticsearch_version}} && echo -n 'yes' || echo -n 'no'
  register: elasticsearch_installed

- name: download deb
  get_url: dest={{elasticsearch_deb}} url={{elasticsearch_url}}
  when: elasticsearch_installed.stdout == 'no'

- name: install deb
  shell: >
    dpkg -i {{elasticsearch_deb}}
  when: elasticsearch_installed.stdout == 'no'

- name: touch version
  shell:
    touch {{elasticsearch_root}}/v{{elasticsearch_version}}
  when: elasticsearch_installed.stdout == 'no'

- name: fixed permissions
  file: path=/usr/share/elasticsearch recurse=yes owner=elasticsearch group=elasticsearch state=directory

- name: create service directory
  file: path=/etc/sv/elasticsearch state=directory

- name: create run script
  template: src=run dest=/etc/sv/elasticsearch/run mode=0755
