- name: check installed
  shell: test -d {{mvn_root}} && echo -n 'yes' || echo -n 'no'
  changed_when: False
  tags: mvn
  register: mvn_installed

- name: install required packages
  apt: pkg={{item}}
  tags: mvn
  with_items:
    - gzip

- name: download and unpack archive
  shell: "curl -L {{mvn_url}} | tar -zxf - chdir=/opt"
  tags: mvn
  when: mvn_installed.stdout == 'no'

- name: add to path
  tags: mvn
  file: src={{mvn_root}}/bin/mvn dest=/usr/local/bin/mvn state=link
