- name: fetch rabbitmq package
  get_url: >
    url=http://mirror.yandex.ru/mirrors/rabbitmq/pool/main/r/rabbitmq-server/rabbitmq-server_{{rabbitmq_version}}_all.deb
    dest=/tmp/rabbitmq-server_{{rabbitmq_version}}_all.deb

- name: install package
  shell: dpkg -i /tmp/rabbitmq-server_{{rabbitmq_version}}_all.deb

- name: create service directory
  file: path=/etc/sv/rabbitmq-server state=directory

- name: create run script
  template: src=run dest=/etc/sv/rabbitmq-server/run mode=0755
