- name: add redis ppa
  apt_repository: repo='ppa:chris-lea/redis-server'

- name: install packages
  apt: pkg=redis-server

- name: create service directory
  file: path=/etc/sv/redis-server state=directory

- name: create run script
  template: src=run dest=/etc/sv/redis-server/run mode=0755
