- name: install packages
  apt: pkg={{item}}
  with_items:
  - redis-server
  - redis-tools

- name: create service directory
  file: path=/etc/sv/redis-server state=directory

- name: create run script
  template: src=run dest=/etc/sv/redis-server/run mode=0755
