- name: download deb
  get_url: >
    dest=/tmp/wkhtmltox-0.12.2.1_linux-trusty-amd64.deb
    url=http://download.gna.org/wkhtmltopdf/0.12/0.12.2.1/wkhtmltox-0.12.2.1_linux-trusty-amd64.deb
    validate_certs=no
  register: download_result

- name: intall deb
  shell: dpkg -i /tmp/wkhtmltox-0.12.2.1_linux-trusty-amd64.deb
  when: download_result | changed
