- name: download packages
  get_url: >
    url=https://s3-eu-west-1.amazonaws.com/assets-eu0-vexor-io/files.vexor.io/{{ item }}
    dest=/tmp/{{ item }}
  with_items:
  - libqtwebkit4_2.3.2-0ubuntu7_amd64.deb
  - libqtwebkit-dev_2.3.2-0ubuntu7_amd64.deb

- name: install packages
  shell: gdebi /tmp/{{ item }} -n
  with_items:
  - libqtwebkit4_2.3.2-0ubuntu7_amd64.deb
  - libqtwebkit-dev_2.3.2-0ubuntu7_amd64.deb
