- name: Add PPA for QT
  apt_repository: repo='ppa:beineri/opt-qt541-trusty'

- name: install required packages
  apt: pkg={{ item }}
  with_items:
  - qt54declarative
  - qt54webkit-examples

- name: add qt to global env
  file: src=/opt/qt54/bin/qt54-env.sh dest=/etc/profile.d/qt54-env.sh state=link
