---
- hosts: all

  vars:
    pg_version:             9.5
    mysql_version:          5.6
    phantomjs_version:      2.1.1
    elasticsearch_version:  1.5.2
    elasticsearch2_version: 2.1.1
    solr_version:           5.2.1
    ruby_default_version:   2.0.0
    nodejs_default_version: 0.10
    java_default_version:   java-1.7.0-openjdk-amd64
    maven_version:          3.3.3
    rabbitmq_version:       3.6.0-1
    zookeeper_version:      3.4.6
    firefox_version:        40.0.3
    sphinxsearch_version:   2.2.10

    services_onboot:
      - postgresql
      - redis-server
      - mysql-server
      - xvfb

    java_packages:
      - openjdk-7-jdk
      - icedtea-7-plugin

    java_ora_versions:
      - oracle-java7-installer
      - oracle-java8-installer

    installed_packages:
      - tzdata
      - git-core
      - mercurial
      - bzr
      - patch
      - bison
      - curl
      - build-essential
      - libcurl4-openssl-dev
      - libssl-dev
      - libxml2-dev
      - libxslt1-dev
      - sqlite3
      - libsqlite3-dev
      - autoconf
      - libyaml-dev
      - libreadline6
      - libreadline6-dev
      - zlib1g
      - zlib1g-dev
      - imagemagick
      - libmagickwand-dev
      - cmake
      - libicu-dev
      - zip
      - unzip
      - libmemcached-dev
      - augeas-tools

  roles:
    - bootstrap
    - env
    - login

    - qt
    - xvfb
    - firefox

    - ruby
    - python
    - nodejs
    - java
    - sbt
    - lein
    - maven

    - phantomjs
    - wkhtmltox

    - zookeeper
    - postgresql
    - redis
    - memcached
    - mysql
    - rabbitmq
    - solr
    - elasticsearch
    - elasticsearch2
    - mongodb
    - sphinxsearch

    - services
